@{
    ViewBag.Title = "Pension Master";
    ViewBag.PageTitle = "Pension Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PensionModel.ViewModel
@model PensionModel.ViewModel.PensionMasterModel
@using (Html.BeginForm("Index", "Pension", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="content-header">
        <h1>Pension <small>Master</small>
        </h1>

    </section>
    
    <div class="panel panel-info" id="dvAdd">
        <div class="panel-heading">
            Pension Details
            <input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" />
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                @Html.Label("* Year", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">

                    @Html.DropDownListFor(m => m.Year, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Year--", Value = "" }, new SelectListItem() { Text = "2013", Value = "2013" }, new SelectListItem() { Text = "2014", Value = "2014" }, new SelectListItem() { Text = "2015", Value = "2015" }, new SelectListItem() { Text = "2016", Value = "2016" }, new SelectListItem() { Text = "2017", Value = "2017" }, new SelectListItem() { Text = "2018", Value = "2018" }, new SelectListItem() { Text = "2019", Value = "2019" }, new SelectListItem() { Text = "2020", Value = "2020" } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
                <div class="col-sm-2">
                    @Html.Label("*Month", new { @class = "col-sm-2 control-label" })
                </div>
                <div class="col-sm-4">
                    @*<div class="input-group">*@
                    @* @{var mm = Model.ListPowerData[0].LastReading.Value.Month;}*@
                    @Html.DropDownListFor(m => m.PensionMonth, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Month--", Value = "" }, new SelectListItem() { Text = "January", Value = "01" }, new SelectListItem() { Text = "February", Value = "02" }, new SelectListItem() { Text = "March", Value = "03" }, new SelectListItem() { Text = "April", Value = "04" }, new SelectListItem() { Text = "May", Value = "05" }, new SelectListItem() { Text = "June", Value = "06" }, new SelectListItem() { Text = "July", Value = "07" }, new SelectListItem() { Text = "August", Value = "08" }, new SelectListItem() { Text = "September", Value = "09" }, new SelectListItem() { Text = "October", Value = "10" }, new SelectListItem() { Text = "November", Value = "11" }, new SelectListItem() { Text = "December", Value = "12" } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PensionMonth)
                    @*  <span class="input-group-btn">
                                    <button class="btn btn-danger" onclick="return confirm('Do you really want to delete?')" id="btnDel" type="submit">Delete!</button>
                                </span>
                            </div>*@
                </div>
            </div>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Upload Data Sheet</legend>
                <div class="alert alert-danger">
                     <p><strong>Note : </strong> Upload single sheet excel file. Sheet name must be 'Sheet1', remember this is sheet name not a file name.</p>
                </div>
                @*<form method="post" action="/PowerUsage/addFile">*@
                @*@using (Html.BeginForm("uploadFile", "Pension", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {*@
                @Html.Label("Select Excel File", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @*<input type="file" id="file" name="files" multiple="multiple" value="" class="btn btn-info" />*@
                    <input type="file" value="" id="fle" name="file" class="btn btn-info" />
                </div>

                @*}*@
            </fieldset>
            <div class="col-sm-3">
                <input type="Submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <!-- Advanced Tables -->
    <div class="panel panel-info" id="dvGrid">
        <div class="panel-heading">
            Pension Data
            <input type="button" id="btnAdd" value="Add New" class="btnAdd btn btn-primary" />
        </div>


        <div class="panel-body">
            <div class="table-responsive" id="Grid">
                <table class="table" id="tbl">
                    <thead>
                        <tr>
                            <th>EmpNo</th>
                            <th>EmpName</th>
                            <th>Pay.Type</th>
                            <th>Amount</th>
                            <th>CompName</th>
                            <th>PolicyNo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListPension)
                        {
                            <tr>
                                <td>@item.EmpDetails.EmpNo</td>
                                <td>@item.EmpDetails.EmpName</td>
                                <td>@item.PayTypeDetails.PaymentType1</td>
                                <td>@item.GrossAmt</td>
                                <td>@item.CompDetails.CompName</td>
                                <td>@item.PolicyNo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>   
}
