@using PensionModel.ViewModel
@using PensionModel
 @model List<SAContributionModel>
 
 <script>
     $(document).ready(function () {
         $('#tblData').DataTable({
             sorting: false,
             dom: 'Bfrtip',
             buttons: [
                 'excel', 'pdf'
              //'copy', 'csv', , 'print'
             ]
         });
     });
     </script>
 <div class="table-responsive" id="dvData">
     <table class="table" id="tblData">
         <thead>
             <tr>
                 <th>EmpNo</th>
                 <th>EmpName</th>
                 <th>Basic</th>  
                 <th>Comp.Cont.</th>       
                 <th>Action</th>                                        
             </tr>
         </thead>
         <tbody>
              @foreach (var item in Model)
             {
                 <tr>
                     <td>@item.EmpNo</td>
                     <td>@item.EmpDetails.EmpName</td>
                     <td>@item.Basic</td>   
                     <td>@item.CompCont</td>  
                     <td>@Html.ActionLink(" ", "Edit", new { @id = @item.SAID }, new { @class = "fa fa-pencil-square fa-lg" })</td>                  
                 </tr>
             }
            
         </tbody>
     </table>
 </div>