@{
    ViewBag.Title = "User Master";
    ViewBag.PageTitle = "Create User";
}

@using PensionModel.ViewModel
@model LoginModel


@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.UID)
    @Html.HiddenFor(m=>m.CreatedBy)
    @Html.HiddenFor(m=>m.CreatedDate)
    <section class="content-header">
        <h1>User <small>Master</small>
        </h1>

    </section>
    <div class="panel panel-info">
        <div class="panel-heading">
            User Details
            <input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" />
        </div>
        <div class="panel-body">              
                 @Html.Label("*Role", new { @class = "col-sm-2 control-label" })
                 <div class="col-sm-4">
                   @*@Html.DropDownListFor(m => m.RID, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Role--", Value = "" }, new SelectListItem() { Text = "Admin", Value = "1" }, new SelectListItem() { Text = "Staff", Value = "2" }, new SelectListItem() { Text = "Employer", Value = "3" } }, new { @class = "form-control" })*@
                     @Html.DropDownListFor(m => m.RID, new SelectList(Model.ListRole, "RID", "Role"), "--Select Role--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RID)
                </div>
 
                     @Html.Label("*Name", new { @class = "col-sm-2 control-label" })
            
                 <div class="col-sm-4">
                     @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                     </div>
            <div class="col-sm-12" style="height:5px";></div>
              
                     @Html.Label("*User ID", new { @class = "col-sm-2 control-label" })
              
                 <div class="col-sm-4">
                     @Html.TextBoxFor(m => m.UserID, new { @class = "form-control" })
                     </div>
             @Html.Label("*Password", new { @class = "col-sm-2 control-label" })
              
                 <div class="col-sm-4">
                     @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                     </div>
       <div class="col-sm-12" style="height:5px";></div>
              
                     @Html.Label("Mobile", new { @class = "col-sm-2 control-label" })
              
                 <div class="col-sm-4">
                     @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                     </div>
             @Html.Label("Email", new { @class = "col-sm-2 control-label" })
              
                 <div class="col-sm-4">
                     @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                     </div>
             <div class="col-sm-12" style="height:5px";></div>
              
                     @Html.Label("Address", new { @class = "col-sm-2 control-label" })
              
                 <div class="col-sm-4">
                     @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                     </div>
        @Html.Label("Status", new { @class = "col-sm-2 control-label" })
         <div class="col-sm-4">
                    @Html.RadioButtonFor(m => m.Status, true,new { @checked = "checked" })Active
                    @Html.RadioButtonFor(m => m.Status, false)In-Active    
                </div>  
            <div class="col-sm-12" style="height:5px";></div> 
            <div class="col-sm-2"></div>        
                <div class="col-sm-4">
                    <input type="submit" name="Button" value="Update" id="btnSave" class="btn btn-primary" onclick="return Validation();" />
                </div>
            </div>
    </div>



    

}

