@model  Pension.Models.ViewModel.AllowanceViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Allowance Type";
    ViewBag.PageTitle = "Create/Manage Language";
}
@using (Html.BeginForm("Index", "Allowance", FormMethod.Post))
{
    
    @Html.HiddenFor(m => m.HdnAlloid)
    <section class="content-header">
        <h1>Allowance <small>Master</small>
        </h1>

    </section>
    <div class="panel panel-info" id="dvAdd">
        <div class="panel-heading">
            Allowance Details
            <input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" />
        </div>
        <div class="panel-body">


            <div class="form-group">
                <div class="col-sm-4">
                  Allowance Name
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.AllowanceName, new { @class = "form-control" , @onblur = "return CheckExist();" })

                </div>


            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    Description
                </div>
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
         
            <div class="form-group">
                <div class="col-sm-4">
                    Status
                </div>
                <div class="col-sm-6">
                    @Html.RadioButtonFor(m => m.Status, "1",new { @checked = "checked" })Active
                    @Html.RadioButtonFor(m => m.Status, "0")In-Active    
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" name="Button" value="Save" id="btnSave" class="btn btn-primary" onclick="return Validation();" />
                </div>
            </div>
        </div>
    </div>



    <!-- Advanced Tables -->
    <div class="panel panel-info" id="dvGrid">
        <div class="panel-heading">
            Allowance Data
            <input type="button" id="btnAdd" value="Add New" class="btnAdd btn btn-primary" />
        </div>
        
            <div class="panel-body">
                <div class="table-responsive" id="Grid">

                    <table class="table" id="tbl">
                        <thead>
                            <tr>
                                <th>Allowance Name
                                </th>
                                <th>Description
                                </th>
                                <th>Status
                                </th>
                                <th>Action
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.lstAllowace)
                            {
                                <tr>
                                    <td>@item.AllowanceName</td>
                                    <td>@item.Description</td>
                                    @if (@item.Status == 0)
                                    {
                                        <td>In-Active</td>
                                    }
                                    else
                                    {
                                        <td>Active</td>
                                    }
                                    <td>
                                        <a  id="btnEdit" class="fa fa-pencil-square fa-lg" onclick="HiddenField('@item.id')"  style="height:20px;width:20px;" />
                                        @*  <button type="button"   name="Button" value="Edit" ></button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                
            </div>
        </div>
    </div>

}


<script src="~/assets/js/jquery-1.10.2.js"></script>
<script src="~/assets/js/jquery.min.js"></script>
<script>

    $('#btnBack').click(function () {
        $('#Status').val('');
        $('#AllowanceName').val('');
        $('#Description').val('');
      
        $('#HdnAlloid').val('');
        removeErr("err_LangSName");
        removeErr("err_LangFName");
    });

    function Validation() {
        debugger;
        var Grade_Name = $('#AllowanceName').val();
        if (Grade_Name == "") {
            showErr("AllowanceName", "Please enter valid Allowance name");
            return false;
        }
        else {
            removeErr("err_LangSName");
            return true;
        }
    }


    function ValidAllowName() {
        var ValidateMsg = true;
        var LangName = $('#AllowanceName').val();
        if (LangName == "") {
            showErr("AllowanceName", "Please enter valid Allowance name");
            ValidateMsg = false;
        }
        else {
            removeErr("err_LangFName");
            ValidateMsg = true;
        }
        return ValidateMsg;
    }


    function CheckExist() {
        if (ValidAllowName() == true) {
            checkformExist()
        }

        else {
            showErr("AllowanceName", "Please enter valid Allowance name");

        }
    }


    function checkformExist() {
        debugger;
        var serviceURL = '/Allowance/CheckExists';

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify({ model: { AllowanceName: $("#AllowanceName").val() } }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                showErr("AllowanceName", "Allowance Name Already Exists");
                $('#AllowanceName').val('');
                $('#AllowanceName').focus();
            },
            error: function (data) {


            }
          

        });

      
    }



    function HiddenField(id) {
        $("#dvGrid").hide();
        $("#dvAdd").show(1000);
        debugger;
        $('#HdnAlloid').val(id);
        var id = $('#HdnAlloid').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDataById", "Allowance")',
            data: "{'id': '" + id + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $('#AllowanceName').val(data.AllowanceName);
                $('#Description').val(data.Description);
                $('#Status').val(data.Status);
               
            },
            error: function (data) {
                alert(data.responseText);
            }

        });

    }


</script>

