@model  Pension.Models.ViewModel.PlanViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Plan";
    ViewBag.PageTitle = "Create/Manage Language";
}

@using (Html.BeginForm("Plan", "Plan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.HiddenFor(m => m.HdnPlanID)
    <section class="content-header">
        <h1>Plan <small>Master</small>
        </h1>

    </section>
    <div class="panel panel-info" id="dvAdd">
        <div class="panel-heading">
            Plan Details
            <input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" />
        </div>
        <div class="panel-body">
            <div class="form-group">
                @*<div class="col-sm-1">
                    Insurance Company
                </div>*@

                <div class="col-sm-12">
                    @*@Html.DropDownListFor(m => m.CompID, new SelectList(Model.lstInsurance, "id", "InsuranceCompany"), "--Select Company--", new { @class = "form-control" })*@
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    Plan Name
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    Details
                </div>
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Details, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    Formula
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Formula, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    Effective Date
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.EffDate, new { @class = "form-control datepicker" })
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    Status
                </div>
                <div class="col-sm-6">
                    @Html.RadioButtonFor(m => m.Status, "1", new { @checked = "checked" })Active
                    @Html.RadioButtonFor(m => m.Status, "0")In-Active    
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" name="Button" value="Save" id="btnSave" class="btn btn-primary" onclick="return Validation();" />
                </div>
            </div>

        </div>
    </div>

    <!-- Advanced Tables -->
    <div class="panel panel-info" id="dvGrid">
        <div class="panel-heading">

            <input type="button" id="btnAdd" value="Add New" class="btnAdd btn btn-primary" />
        </div>
        <div class="panel-heading" style="height: 54px;">
            <div class="panel-body">
                <div class="table-responsive" id="Grid">

                    <table class="table" id="tbl">
                        <thead>
                            <tr>
                                @*<th>Insurance</th>*@
                                <th>Plan Name</th>
                                <th>Formula</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.lstPlan)
                            {
                                <tr>
                                    @*<td>@item.Insurance</td>*@
                                    <td>@item.PlanName</td>
                                    <td>@item.Formula</td>
                                    @if (@item.Status == 0)
                                    {
                                        <td>In-Active</td>
                                    }
                                    else
                                    {
                                        <td>Active</td>
                                    }
                                    <td>
                                        <a  id="btnEdit" class="fa fa-pencil-square fa-lg" onclick="HiddenField('@item.id')"  style="height:20px;width:20px;" />
                                        @*  <button type="button"   name="Button" value="Edit" ></button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

}


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
@*<script src="~/assets/js/jquery-1.10.2.js"></script>
<script src="~/assets/js/jquery.min.js"></script>*@

<script>
    $(function () { // will trigger when the document is ready
        $('.RetireDate').datepicker(); //Initialise any date pickers
        $('.datepicker').datepicker();
    });

    $('#btnBack').click(function () {
        $(".Inschk").removeAttr("checked");
        $('#PlanName').val('');
        $('#Details').val('');
        $('#Formula').val('');
        $('#EffDate').val('');
        $('#HdnPlanID').val('');
    });

    $('#btnAdd').click(function () {
        $(".Inschk").removeAttr("checked");
        $('#PlanName').val('');
        $('#Details').val('');
        $('#Formula').val('');
        $('#EffDate').val('');
        $('#HdnPlanID').val('');
    });

    function Validation() {
        debugger;
        var valid = true;
        var Grade_Name = $('#CompID').val();
        var PlanName = $('#PlanName').val();
        if (Grade_Name == "") {
            showErr("CompID", "Please Select Insurance Company ");
            valid = false;
        }
        else {
            removeErr("err_CompID");
        }
        if (PlanName == "") {
            showErr("PlanName", "Please Enter Plan ");
            valid = false;
        }
        else {
            removeErr("err_PlanName");
        }
        return valid;
    }

    function ValidLangName() {
        var ValidateMsg = true;
        var LangName = $('#InsuranceCompany').val();
        if (LangName == "") {
            showErr("InsuranceCompany", "Please enter valid language name");
            ValidateMsg = false;
        }
        else {
            removeErr("err_InsuranceCompany");
            ValidateMsg = true;
        }
        return ValidateMsg;
    }

    function CheckExist() {
        if (ValidLangName() == true) {
            checkformExist()
        }
        else {
            showErr("InsuranceCompany", "Please enter valid Insurance Company name");
        }
    }

    function checkformExist() {
        debugger;
        var serviceURL = '/Company/CheckExists';

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify({ model: { CompName: $("#CompName").val() } }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                showErr("CompName", "Company Name Already Exists");
                $('#CompName').val('');
                $('#CompName').focus();
            },
            error: function (data) {

            }
        });
    }

    function HiddenField(id) {
        $("#dvGrid").hide();
        $("#dvAdd").show(1000);
        $('#HdnPlanID').val(id);
        var id = $('#HdnPlanID').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDataById", "Plan")',
            data: "{'id': '" + id + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var value = new Date(parseInt(data.EffDate.replace(/(^.*\()|([+-].*$)/g, '')));
                var EffDate = value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();
                debugger;
                $('#lstInsurance').val(data.CompID);
                $(".Inschk").attr("checked");
                $('#PlanName').val(data.PlanName);
                $('#Details').val(data.Details);
                $('#Formula').val(data.Formula);
                $('#EffDate').val(EffDate);
                $('#Status').val(data.Status);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
</script>
@*<link rel="stylesheet" href="~/assets/js/dataTables/dataTables.bootstrap.css" />
<script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>*@

<!--end-->

